.divider-container {
    height: 100%;
    width: 5%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.divider {
    height: 100%;
    width: 100%;


}