body {
    /*colours*/
    --divider-colour: rgb(135, 253, 83);
    /*lengths*/
    --board-height: 500px;
    --board-width: var(--board-height);
    --vertical-divider-width: 5%;
    --square-width: calc((100% - (var(--vertical-divider-width) * 2)) / 3);
    --horizontal-divider-height: var(--vertical-divider-width);
    --square-height: calc((100% - (var(--horizontal-divider-height) * 2)) / 3);

}